/*.cover-image {*/
    /*background-image: url("https://abudhabi.dubizzle.com/static/home/img/search-backgrounds/search-background-image-1.jpg");*/
/*}*/
.main{
  padding-top:0px;
  padding: 0px 59px;
}
.p-l-5{
  padding-left: 5px !important;
}
.p-r-5{
  padding-right: 5px !important;
}
.padding-5-2{
  padding: 5px 2px !important;
}
.push-bottom {
  margin-bottom: 23px;
}
@media (min-width: 1200px){
  .container, .map-filter-wrapper {
    max-width: 1050px;
  }
}
@media (min-width: 768px){
  .nav-primary .nav-link {
    padding: 8px 0;
  }}
/*@media (min-width: 768px){*/
  /*.nav-primary .nav-item {*/
    /*margin: 0 3.4rem 0 0 !important;*/
    /*position: relative;*/
  /*}*/
/*}*/
.header-bottom-inner{
  /*left: 7px;*/
  /*background: #fff;*/
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
/*.cover.cover-center {*/
  /*background: #F9f9f8;*/
/*}*/
/*.cover-title-inner h1{*/
  /*color:#fff;*/
/*}*/
.cover-title{
  top: 63%;
}
.cover.cover-center{
  height:280px;
}
/*@media (min-width: 1200px){*/
  /*.container, .map-filter-wrapper {*/
    /*max-width: 1260px;*/
  /*}*/
/*}*/

.header-top{
  padding: 0px 1007px;
  min-height: 87px;
  box-shadow: none;
}
.header-top-inner {
  margin-top: 1rem;
  margin-left: -15px;
}
.header{
  background-color: #f9f9f8
}
.header-bottom{
  /*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);*/
  padding: 0 1006px;
}
.cover.cover-center{
  background: url('/assets/img/damascus.jpg');
  background-size: cover;
}
/*.box-icon{*/
  /*color:#fff;*/
/*}*/

/*h6 {*/
  /*font-size: 0.8rem;*/
/*}*/
.box-content h6 , .box-icon .fa {
  color: #fff;
  font-size: 0.8rem;
}
.box {
  padding-top: 0px;
  padding-bottom: 1px;
}
.box-bg{
  background: rgba(0, 0, 0, 0.49);
  display: -webkit-box;
}
.box-icon .fa{
  font-size:30px;
}
.box:hover .box-icon, .orange .fa{
  color: #FD1B00;
}
.btn-primary, .pricing-btn {
  background-color: #FD1B00;
}
/*.page-header{*/
  /*padding: 60px 0 0px;*/
/*}*/
/*.header-topbar{*/
  /*padding: 0px 1000px;*/
/*}*/

/*.orange{*/
  /*color: #EC7D31;*/
/*}*/
/*.nav-topbar .nav-link .fa{*/
  /*border: none;*/
/*}*/


/*.special{*/
  /*background: #EC7D31;*/
  /*color: #fff !important;*/
  /*padding:15px 18.7px !important;*/
/*}*/
.orange .fa{
  color: #FD1B00
}
.page-header h1{
  text-align: left;

}
.footer-top{
  background-color: #fdfdfd;
  color:#000;
}
.footer-wrapper{
  background-color: #fdfdfd;
  color:#000;
}
.footer-bottom {
  padding: 25px 13px;
}
.footer-top ul {
  padding: 0px 17px;
}
.box-content h5{
  font-size:1rem;
}
.page-header {
  padding: 20px 0;
}
.category{
  margin: 1px 0 8px 0;
  height: 231px;
}
.category-vertical {
  height: 470px !important;
}