.cover-image {
    background-image: url("https://abudhabi.dubizzle.com/static/home/img/search-backgrounds/search-background-image-1.jpg");
}
.main{
  padding-top:0px;
}

@media (min-width: 768px){
  .nav-primary .nav-item {
    margin: 0 44px 0 0;
    position: relative;
  }
}
.header-bottom-inner{
  left: -24px;
}
.cover.cover-center {
  background: #F9f9f8;
}
.cover-title-inner h1{
  color:#fff;
}
.cover.cover-center{
  height:240px;
}
@media (min-width: 1200px){
  .container, .map-filter-wrapper {
    max-width: 1260px;
  }
}

.header-top{
  padding: 0px 1000px 20px 1000px;
}
.header-top-inner {
  margin-top: 21px;
}
.cover.cover-center{
  background: url('/assets/img/search-bg1.jpg')
}
.box-icon{
  color:#fff;
}

h6 {
  font-size: 0.8rem;
}
.box-content h6 {
  color: #fff;
}
.page-header{
  padding: 60px 0 0px;
}
.header-topbar{
  padding: 0px 1000px;
}

.orange{
  color: #EC7D31;
}
.nav-topbar .nav-link .fa{
  border: none;
}

.special{
  background: #EC7D31;
  color: #fff !important;
  padding: 15px 14px !important;
  border-radius:0px !important;
}